#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;  
    /* height: 440px;
    width: 440px; */ 
    background: url(clockll.jpg) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1%;
    height: 20%;
    top: 30.5%;
    left: 48.2%;
}
#minute{
    width: 1%;
    height: 32%;
    top: 18.5%;
    left: 48.20%;
}
#second{
    width: 1%;
    height: 39.8%;
    top: 10.72%;
    left: 48.2%;

}